## Pandas (http://pandas.pydata.org/pandas-docs/stable/)

In [86]:
import pandas as pd
from pandas import DataFrame
import sys

## Data (Location of European seismic stations)

In [87]:
df = pd.read_csv('EuropeanStationBook.csv',encoding='SHIFT-JIS')
print(df.columns)
print()
df = df[::500] ## データの間引き
df.index = [ i for i in range(len(df)) ] ## indexの付け直し (元のindexは保持されない)
print(df)

Index(['Net', 'Sta', 'Lat', 'Lon', 'Elev', 'Start', 'End'], dtype='object')

   Net    Sta        Lat         Lon  Elev  Start     End
0   1A  CORRE  67.5828 S  144.2750 E     0   2009  2012.0
1   7E   PP02  51.0432 N   12.0306 E     0   2006  2006.0
2   CH   SDES  47.3685 N    7.3399 E   454   2016     NaN
3   GE   FLT1  52.3306 N   11.2372 E   100   2008     NaN
4   IB   E018  37.9803 N    5.9548 W   392   2007  2009.0
5   IV   MGAB  42.9126 N   12.1121 E   547   2008     NaN
6   KO   RSDY  40.3972 N   37.3273 E   550   2007     NaN
7   NL   G583  53.1103 N    6.9071 E     2   2015     NaN
8   RA   MVNO  22.2703 S  166.4420 E     0   2006     NaN
9   UP   NIKU  67.8673 N   19.0347 E   300   2012  2013.0
10  XK   LP41  67.0927 N   24.3786 E   224   2007  2009.0
11  Y4  CSA10  39.8392 N   15.9286 E   814   2014  2015.0
12  YV   MAYO  12.8456 S   45.1868 E    41   2011  2014.0
13  Z4   IB30  31.2894 N   35.3562 E   -87   2006  2006.0
14  ZC   T36G  53.1550 N   12.2590 E    80   1996  1997.0
15  ZP   KP05  37.1928 S   72.9782 W   127   2000  2000.0

## Delete NaN

In [88]:
df = df.dropna()
print(df)

   Net    Sta        Lat         Lon  Elev  Start     End
0   1A  CORRE  67.5828 S  144.2750 E     0   2009  2012.0
1   7E   PP02  51.0432 N   12.0306 E     0   2006  2006.0
4   IB   E018  37.9803 N    5.9548 W   392   2007  2009.0
9   UP   NIKU  67.8673 N   19.0347 E   300   2012  2013.0
10  XK   LP41  67.0927 N   24.3786 E   224   2007  2009.0
11  Y4  CSA10  39.8392 N   15.9286 E   814   2014  2015.0
12  YV   MAYO  12.8456 S   45.1868 E    41   2011  2014.0
13  Z4   IB30  31.2894 N   35.3562 E   -87   2006  2006.0
14  ZC   T36G  53.1550 N   12.2590 E    80   1996  1997.0
15  ZP   KP05  37.1928 S   72.9782 W   127   2000  2000.0

## Sort

In [89]:
print(df.sort_values('Sta'))

   Net    Sta        Lat         Lon  Elev  Start     End
0   1A  CORRE  67.5828 S  144.2750 E     0   2009  2012.0
11  Y4  CSA10  39.8392 N   15.9286 E   814   2014  2015.0
4   IB   E018  37.9803 N    5.9548 W   392   2007  2009.0
13  Z4   IB30  31.2894 N   35.3562 E   -87   2006  2006.0
15  ZP   KP05  37.1928 S   72.9782 W   127   2000  2000.0
10  XK   LP41  67.0927 N   24.3786 E   224   2007  2009.0
12  YV   MAYO  12.8456 S   45.1868 E    41   2011  2014.0
9   UP   NIKU  67.8673 N   19.0347 E   300   2012  2013.0
1   7E   PP02  51.0432 N   12.0306 E     0   2006  2006.0
14  ZC   T36G  53.1550 N   12.2590 E    80   1996  1997.0

In [90]:
print(df.sort_values('Lat'))

   Net    Sta        Lat         Lon  Elev  Start     End
12  YV   MAYO  12.8456 S   45.1868 E    41   2011  2014.0
13  Z4   IB30  31.2894 N   35.3562 E   -87   2006  2006.0
15  ZP   KP05  37.1928 S   72.9782 W   127   2000  2000.0
4   IB   E018  37.9803 N    5.9548 W   392   2007  2009.0
11  Y4  CSA10  39.8392 N   15.9286 E   814   2014  2015.0
1   7E   PP02  51.0432 N   12.0306 E     0   2006  2006.0
14  ZC   T36G  53.1550 N   12.2590 E    80   1996  1997.0
10  XK   LP41  67.0927 N   24.3786 E   224   2007  2009.0
0   1A  CORRE  67.5828 S  144.2750 E     0   2009  2012.0
9   UP   NIKU  67.8673 N   19.0347 E   300   2012  2013.0

## Data access

In [91]:
print(df['Sta'])

0     CORRE
1      PP02
4      E018
9      NIKU
10     LP41
11    CSA10
12     MAYO
13     IB30
14     T36G
15     KP05
Name: Sta, dtype: object

## Data handling

In [93]:
dfr = df.reset_index() ## indexの付け直し (元のindexは保持される)
print(dfr)
for name,item in dfr.iteritems():
    if name == 'Lat':
        for i in range(len(item)):
            p = item[i].split()
            dfr.loc(['Lat'][i]) = p[0] if p[1] == 'N' else '-'+p[0]
        print(item)

   index Net    Sta        Lat         Lon  Elev  Start     End
0      0  1A  CORRE  67.5828 S  144.2750 E     0   2009  2012.0
1      1  7E   PP02  51.0432 N   12.0306 E     0   2006  2006.0
2      4  IB   E018  37.9803 N    5.9548 W   392   2007  2009.0
3      9  UP   NIKU  67.8673 N   19.0347 E   300   2012  2013.0
4     10  XK   LP41  67.0927 N   24.3786 E   224   2007  2009.0
5     11  Y4  CSA10  39.8392 N   15.9286 E   814   2014  2015.0
6     12  YV   MAYO  12.8456 S   45.1868 E    41   2011  2014.0
7     13  Z4   IB30  31.2894 N   35.3562 E   -87   2006  2006.0
8     14  ZC   T36G  53.1550 N   12.2590 E    80   1996  1997.0
9     15  ZP   KP05  37.1928 S   72.9782 W   127   2000  2000.0

/Users/ue/.pyenv/versions/3.7.2/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

0    -67.5828
1     51.0432
2     37.9803
3     67.8673
4     67.0927
5     39.8392
6    -12.8456
7     31.2894
8     53.1550
9    -37.1928
Name: Lat, dtype: object